.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(31, 36, 187);
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-family: "Amatic SC";
}

.App-intro {
  font-size: large;
}

.backgroundImage {
  height: 100%;
}

#question {
  background: rgba(31, 36, 187, 0.7);
  width: 100%;
  text-align: center;
  font-size: large;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
}

button {
  font-family: "Eczar";
  font-size: 12px;
  color: white;
  width: 30%;
  padding: 3%;
  border-radius: 10px;
  margin-bottom: 1%;
  background-color: rgba(31, 36, 187, 0.406);
}
